$galaxyFold-width: 300px;
$tablet-width: 768px;
$desktop-width:1024px;
$big-desktop-width: 1500px;

@mixin galaxyFold(){
  @media (max-width: #{$galaxyFold-width}){
    width:100%;
    @content;
  }
}
@mixin tablet(){
  @media (min-width: #{$tablet-width}){
    margin: 2%;
    @content;
  }
}
@mixin desktop(){
  @media(min-width: #{$desktop-width}){
    margin: 1em 10%;
    @content;
  }
}
@mixin big-desktop(){
  @media(min-width: #{$big-desktop-width}){
    margin: 1em 10%;
    @content;
  }
}