$tablet-width: 768px;
$desktop-width:1024px;
$big-desktop-width: 1500px;

@mixin tablet(){
  @media (min-width: #{$tablet-width}){
    margin: 18px;
    @content;
  }
}
@mixin desktop(){
  @media(min-width: #{$desktop-width}){
    margin: 1em 250px;
    @content;
  }
}
@mixin big-desktop(){
  @media(min-width: #{$big-desktop-width}){
    margin: 1em 250px;
    @content;
  }
}