.about-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    color:$shadowColor;
  }
  span{
    font-weight: 500;
    color:$shadowColor;
  }
  .about-us__photos{
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    .about-us__photo{
      aspect-ratio: 255/355;
      width: 27%;
      position: relative;

      p{
        position: absolute;
        bottom: 10px;
        left:50%;
        transform: translateX(-50%);
        font-weight: 400;
        color: $shadowColor;
        z-index: 2;
        font-size: 1.5rem;
      }
      &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.9) 30%, transparent 75%);

      }
    }
    img{
      width: 100%;
      height: 100%;
      border-radius: 2px;
    }
  }
  @include tablet{
    margin-top: 10rem;
    h2{
      width: 60%;
      margin-top: 0;
    }
    p{
      width: 40%;
    }
  }
  @include desktop{
    margin-top: 10rem;

  }
  //.photo{
  //  background: url("../images/AC20.jpeg") center no-repeat;
  //  background-size: cover;
  //  width: 100%;
  //  max-width: 100%;
  //  height: 600px;
  //}
}