.about-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  h3{
    color:$shadowColor;
  }
  span{
    font-weight: 500;
  }
  .about-us__photos{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include desktop{
      margin: 0;
      flex-direction: row;
      justify-content: space-between;
    }

    .about-us__photo{
      width: 80%;
      //height: 400px;
      aspect-ratio: 1;
      object-fit: cover;
      position: relative;
      margin-bottom: 20px;
      @include tablet {
        width: 60%;
        aspect-ratio: 1;

      }
      @include desktop{
        margin: 10rem 0;
        width: 27%;
        aspect-ratio: 255/355;
      }

      .photo-text{
        position: absolute;
        bottom: 10px;
        left:50%;
        transform: translateX(-50%);
        font-weight: 400;
        color: $shadowColor;
        z-index: 2;
        font-size: 1rem;
        @include desktop{
          font-size: 1.25rem;
          margin: 0;
        }
      }
      &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0,0,0,0.9) 30%, transparent 75%);

      }
    }
    img{
      width: 100%;
      height: 100%;
      border-radius: 2px;
    }
  }
  @include tablet{
    margin-top: 10rem;
    margin-bottom: 10rem;
    h2{
      //width: 60%;
      margin-top: 0;
    }
    p{
      //width: 60%;
    }
  }
  @include desktop{
    margin-top: 10rem;
    margin-bottom: 10rem;
    h2{
      //max-width: 1200px;
      margin-top: 0;
    }
    p{
      //max-width: 1200px;
    }

  }
  @include big-desktop{
    margin-top: 10rem;
    margin-bottom: 10rem;
    h2{
      //width: 60%;
    }
    p{
      //width: 60%;
    }
  }
  //.photo{
  //  background: url("../images/AC20.jpeg") center no-repeat;
  //  background-size: cover;
  //  width: 100%;
  //  max-width: 100%;
  //  height: 600px;
  //}
}