.carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: 700px;
  //&:before{
  //  content: '';
  //  z-index: 3;
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  background: linear-gradient(to bottom, rgba(0,0,0,0.9) 5%, transparent 75%);
  //}

  .carousel__item {
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    //width: 80%;
    height: 700px;

    @include desktop{
      margin: 0;
      width: 100%;
    }

  }
}
.carousel__photo{
  //aspect-ratio: 460/700;
  height: 700px;
  object-fit: cover;
  position: relative;
  @include desktop{
    margin: 0;
    width: 100%;
  }

}
.slide-active{
  top:0;
  left:0;
  position: absolute;
  //z-index: 2;
  opacity: 1;
  transition: all 2s ease;
  visibility: visible;

}
.slide{
  top:0;
  left:0;
  position: absolute;
  //z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 2s ease;

}