.description {
  .description__header{
    text-align: center;
        color: $hoverColor;
        margin: 4rem auto;
        @include tablet{
          margin-top: 5rem;
        }
        @include desktop {
        margin-top: 6rem;
        }
        @include big-desktop {
          margin-top: 6rem;
        }
  }
  .description__container{
    display: block;
    width: 100%;
  }
}
.description__box{
  margin: 40px 0;
}
.description__photo{
  height: 350px;
  display: block;
  max-width: 100%;
  width: 100%;

  position: relative;
  &:before{
        content: '';
        position: absolute;
        //width: 100%;
        height: 100%;
        top:-20px;
        left: 20px;
        right: 0;
        border: 2px solid $hoverColor;
        border-right: none;
      }
  img{
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 40%;
    height: 350px;
    max-width: 100%;
    width: 100%;
  }
}
.description__text{
  padding: 20px 0;
  background-color: $boxColor;
  //height: 400px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
}
.description__text--header{
  margin: 0;
  color: $hoverColor;
  text-transform: uppercase;
}
.description__text--p{
  padding: 10px 10px;
  text-align: center;
  font-size: 1rem;
  margin: 0;
  text-transform: none;
  letter-spacing: 2px;
  line-height: 1.5;

}


//.ds{
//  width: 100%;
//  .description__h{
//    background: black;
//    display: flex;
//    justify-content: center;
//  }
//  .description__h--2 {
//
//    text-align: center;
//    color: $hoverColor;
//    margin: 4rem 0;
//    @include tablet{
//      margin-top: 5rem;
//    }
//    @include desktop {
//      width: 50%;
//      margin-top: 6rem;
//    }
//    @include big-desktop {
//      margin-top: 6rem;
//    }
//      }
//}
//.description {
//  max-width: 100%;
//  //width: 100%;
//  display: grid;
//  grid-template-columns: 100%;
//  grid-template-areas:
//  'session'
//  'text'
//  'wine';
//  @include tablet{
//    grid-template-columns: repeat(2, 50%);
//    grid-template-areas:
//  'session box'
//  'session  wine'
//  'flowers wine';
//
//  }
//  @include desktop{
//
//  }
//  @include big-desktop {
//  }
//}
//.description--session{
//  grid-area: session;
//  position: relative;
//  margin: 2rem 0 0 0;
//  width: 100%;
//  background: url('../images/session1.jpg') no-repeat center;
//  height: 300px;
//  background-size: cover;
//
//  @include tablet{
//    margin: 0;
//    height: 800px;
//  }
//  @include desktop{
//    margin: 0;
//
//  }
//  @include big-desktop{
//    margin: 0;
//
//
//  }
//  &:before{
//    content: '';
//    position: absolute;
//    //width: 100%;
//    height: 100%;
//    top:-20px;
//    left: 20px;
//    right: 0;
//    border: 2px solid $hoverColor;
//    border-right: none;
//  }
//
//}
//.ds2{
//  margin: 2rem 0;
//  //display: flex;
//  width: 100%;
//  //flex-direction: column;
//  //justify-content: space-around;
//  //height: 500px;
//  text-align: left;
//  font-size: 1rem;
//  text-transform: none;
//  line-height: 1.5;
//  grid-area: text;
//  @include tablet{
//    margin: 0;
//    line-height: 2rem;
//    font-size: 1.25rem;
//    text-align: left;
//    height: 400px;
//  };
//  @include desktop{
//    margin: 0;
//  }
//  @include big-desktop{
//    margin: 0;
//    font-size: 1.4rem;
//    line-height: 2rem;
//  }
//}
//
//
//
//  .description--wine{
//    grid-area: wine;
//      margin: 0;
//      display: block;
//    position: relative;
//    height: 300px;
//    background: url('../images/AC9.jpeg') no-repeat 60%;
//    @include desktop {
//      width: 489.5px;
//      height: 326.5px;
//      background-size: cover;
//      align-self: flex-end;
//    }
//    &:before {
//      content: '';
//      position: absolute;
//      //width: 100%;
//      height: 100%;
//      top: 20px;
//      left: 20px;
//      right: 0;
//      border: 2px solid $hoverColor;
//      border-right: none;
//    }
//    }
//
//  .description--flowers{
//    display: none;
//    background: url('../images/flowers_bath.jpg');
//    width: 489.5px;
//    height: 326.5px;
//  }
  //.description--background{
  //  opacity: 0.5;
  //  position: relative;
  //  //align-self: center;
  //  width: 200px;
  //  height: 200px;
  //  border: 1px solid $hoverColor;
  //  border-radius: 50%;
  //  bottom: 10px;
  //  left: 50%;
  //  transform: translateX(-50%);
  //  &:before {
  //    opacity: 0.5;
  //    position: absolute;
  //    top:50%;
  //    left: 50%;
  //    transform: translate(-50%, -50%);
  //    content: '';
  //    width: 90px;
  //    height: 90px;
  //    background-color: $hoverColor;
  //    mask: url('../images/martini-glass-citrus-solid.svg') no-repeat center;
  //  }
  //  &:after{
  //    opacity: 0.5;
  //    position: absolute;
  //    top:50%;
  //    left: 90%;
  //    content: 'spędź cudownie wieczór';
  //    width: 150px;
  //    height: 50px;
  //    transform: translateY(-50%);
  //    z-index: 2;
  //    background-color: black;
  //    font-family: $mainFont;
  //    letter-spacing: 1px;
  //    color:$hoverColor;
  //  }
  //  width: 255px;
  //  height: 384px;
  //  background: url('../images/AC12.jpg') center no-repeat;
  //  background-size: contain;
  //}
.container{
  width: 100vw;
}
