.description{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet;
  @include desktop;
  .description__text{
    width: 50%;
    h3{
      text-align: left;
      color: $shadowColor;
    }
    p{
      text-align: left;
      font-size:  1.1rem;
      padding-bottom: 0;
    }
  }
  .description__carousel{
    width: 40%;
    position: relative;
    min-height: 700px;
    max-height: 1000px;
    //img{
      //filter: grayscale(1);
    //}
    &:before{
      content: '';
      z-index: 3;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0,0,0,0.9) 5%, transparent 75%);
    }

  }
  .description__photo{
    position: absolute;
    width: 50%;
    aspect-ratio: 1/1.25;
    bottom: -100px;
    left: -20%;
  }
}