@import 'settings/devices';
@import 'settings/colors';
@import 'settings/fonts';
.gallery{
  margin: 1rem 0;
  padding: 1rem 0;
  h3{
    color: $hoverColor;
  }
  @include desktop{
    margin-top: 10rem;
    margin-bottom: 4rem;
  }
  @include big-desktop{
    margin-top: 10rem;
    margin-bottom: 4rem;
  }
  .apartaments{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    @include desktop{
      margin: 0;
      flex-direction: row;
      gap:40px;

    }
    @include big-desktop{
      margin: 0;
    }
  }


    .apartament {
      margin: 0;
      max-width: 100%;
      width: 100%;
      height: 400px;
      background-size: cover;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(to top, rgba(0,0,0,0.9) 20%, transparent 75%);
      }
      //&:before{
      //  content: '';
      //  position: absolute;
      //  width: 100%;
      //  height: 100%;
      //  top: 20px;
      //  left: 10px;
      //  border: 2px solid $hoverColor;
      //  z-index: 3;
      //}


      &:hover{
        cursor: pointer;
        .hover{
          opacity: 80%;
          transition: 0.4s;
        }
      }
      @include tablet{
        margin: 0;
        height: 500px;
      }
      @include desktop{
        margin: 0;
        height: 600px;
      }

    }
    .carina{
      background: url('../images/AC10.jpeg') no-repeat center;
      background-size: cover;
      position: relative;
      z-index: 0;


    }
    .elisa{
      background: url('../images/AE6.jpg') no-repeat center;
      background-size: cover;
      position: relative;
      z-index: 0;

    }
  .hover{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;

  }
    .hover__text{
      color:$hoverColor;
      position: absolute;
      margin: 0;
      width: 100%;
      height: 100%;
      font-size: 1.5rem;
      text-transform: none;
      top:50%;
      left:50%;
      transform: translate(-50%, 0);
    }
  }


//POPUP
.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: transparent;
  padding: 14px 28px;
  border-radius: 3px;
  width: 90%;
  @include tablet {
    margin: 0;
    max-width: 75%;
  }
  @include desktop {
    margin: 0;
    max-width: 75%;
  }
  @include big-desktop {
    margin: 0;
    max-width: 70%;
  }
}

.image-gallery-svg{
  width: 30px !important;
  height: 60px !important;
}
.image-gallery-fullscreen-button, .image-gallery-play-button{
  padding: 0 20px !important;
}

.exit {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  background-color: white;
  mask: url('../images/xmark.svg') center no-repeat;
}

