@import 'settings/devices';
@import 'settings/colors';
@import 'settings/fonts';
.gallery{
  margin: 1rem 0;
  padding: 1rem 0;
  .apartaments{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    @include tablet{
      padding: 0;
    }
    @include desktop{
      padding: 0;
    }
    @include big-desktop{
      padding: 0;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

    }
    .apartament {
      margin: 0;
      max-width: 100%;
      width: 100%;
      height: 400px;
      background-size: cover;
      @include tablet{
        margin: 0;
        height: 500px;
      }
      @include desktop{
        margin: 0;
        height: 600px;
      }

    }
    .carina{
      background: url('../images/AC10.jpeg') no-repeat center;
      background-size: cover;
    }
    .elisa{
      background: url('../images/AE6.jpg') no-repeat center;
      background-size: cover;
    }
  }
}

//POPUP
.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.modal--content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: transparent;
  padding: 14px 28px;
  border-radius: 3px;
  width: 90%;
  @include tablet{
    margin: 0;
    max-width: 75%;
  }
  @include desktop{
    margin: 0;
    max-width: 75%;
  }
  @include big-desktop{
    margin: 0;
    max-width: 75%;
  }

  //height: 80vh;
  //min-width: 250px;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  //width: 100% !important;
}
.image-gallery-svg{
  width: 30px !important;
  height: 60px !important;
}
.image-gallery-fullscreen-button, .image-gallery-play-button{
  padding: 0 20px !important;
}

.exit {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  background-color: white;
  mask: url('../images/xmark.svg') center no-repeat;
}