@import 'settings/_colors.scss';
@import 'settings/_fonts.scss';
@import 'settings/_devices.scss';

header {
  overflow: hidden;
  padding: 0;
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .header__background {
    background: url('../images/background.jpeg') center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    animation: zoom 2s linear;

    &:before {
      content: '';
      background: url('../images/background-before.jpeg') center no-repeat fixed;
      background-size: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 1;
      opacity: 0;
      animation: appearance 1.5s linear 1s;
      animation-fill-mode: both;
      box-shadow: black 0 5px 5px inset;

    }
  }

  .header__text {
    height: 100vh;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    background-color: transparent;
    opacity: 0;
    animation: appearance 1.5s linear 3s;
    animation-fill-mode: both;
    @include tablet{
      margin: 0;
    }
    @include desktop;

    h1{
      text-align: center;
      text-transform: uppercase;
      background-color: transparent;
    }

    h1 {
      margin: 2rem 0;
      font-size: 2.5rem;
      letter-spacing: 2px;
      font-weight: 400;


      @include tablet {
        margin: 0;
        font-size: 4rem;
        letter-spacing: 5px;
      }
      @include desktop {
        margin: 0;
        font-size: 5rem;
        letter-spacing: 7px;
      }
    }
  }
}
      h2, h3{
      font-weight: 300;
      font-size: 1.85rem;
      letter-spacing: 2px;
      text-align: center;

      @include tablet{
        font-size: 2.4rem;
        letter-spacing: 5px;
      }
      @include desktop {
        font-size: 3rem;
        letter-spacing: 5px;
      }
    }
      h2{
        margin: 2rem 1rem;
      }
      h3{
        margin:1rem;
      }
p{
  font-weight: 300;
  font-family: $mainFont;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.5;
  padding: 1rem 0;

}

@keyframes zoom{
  0%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
