@import 'settings/_colors.scss';
@import 'settings/_fonts.scss';
@import 'settings/_devices.scss';

header{
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  background: url('../images/background.jpeg') center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow-y: hidden;
  animation: zoom 2s linear;

  &:before{
    content: '';
    background: url('../images/background-before.jpeg') center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position:absolute;
    z-index: 1;
    opacity: 0;
    animation: appearance 1.5s linear 1s;
    animation-fill-mode: both;
  }
  .header__text{
    max-width: 100%;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
    background-color: transparent;
    opacity: 0;
    animation: appearance 1.5s linear 3s;
    animation-fill-mode: both;
    @include galaxyFold;
    @include tablet;
    @include desktop;
    h1, p{
      text-align: center;
      text-transform: uppercase;
      background-color: transparent;
    }
    h1{
      margin: 2rem 0;
      font-size: 2.5rem;
      letter-spacing: 2px;
      font-weight: 400;

      @include galaxyFold{
        font-size: 2rem;
      }

      @include tablet{
        font-size: 4rem;
        letter-spacing: 5px;
      }
      @include desktop {
        font-size: 5rem;
        letter-spacing: 7px;
      }
    }
    p{
      font-weight: 300;
      margin: 2rem 1rem;
      font-size: 1.5rem;
      letter-spacing: 2px;

      @include galaxyFold{
        font-size: 1.25rem;
        margin: 1rem 0;
        padding: 10px;
      }

      @include tablet{
        font-size: 2.4rem;
        letter-spacing: 5px;
      }
      @include desktop {
        font-size: 3rem;
        letter-spacing: 5px;
      }
    }
  }
}
@keyframes zoom{
  0%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes appearance {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
