@import 'settings/fonts';
@import 'settings/colors';
@import 'settings/devices';
@import 'header';
@import 'description';
@import 'carousel';
@import 'gallery';
@import "contact";
@import 'about-us';
@import "~react-image-gallery/styles/scss/image-gallery.scss";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $fontColor;
  font-family: $mainFont;
  word-break: break-word;
}
body{
  background: black;
}