@import 'settings/fonts';
@import 'settings/colors';
@import 'settings/devices';
@import 'header';
@import 'gallery';
@import "contact";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $fontColor;
  font-family: $mainFont;
}
body{
  background-color: $backgroundColor;
}